.App {
  text-align: center;
}

.tabHeader {
  background-color: #6882ff !IMPORTANT;
  font-size: 20px !IMPORTANT;
}

.bwCol {
  border: 1px solid black;
}

.levelHeader {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.kiloToPounds {
  margin-left: 40%;
  width: 50px;
}

.converter{
  font-size: 20px;
}

td, tr {
  padding: 0 !IMPORTANT;
  height: 25px !IMPORTANT;
}

tr {
  margin: 0 !IMPORTANT;
}

td {
  text-align: center !IMPORTANT;
  border: 1px solid black !IMPORTANT;
  font-size: 25px !IMPORTANT;
}

th {
  margin: auto !IMPORTANT;
  font-size: 20px !IMPORTANT;
}

thead {
  background-color: #6882ff;
}
