.App {
  text-align: center;
}

.tabHeader {
  background-color: #6882ff !IMPORTANT;
  position: fixed !IMPORTANT;
  top: 0 !IMPORTANT;
  left: 0 !IMPORTANT;
  z-index: 999 !IMPORTANT;
}

.tabHeaderSelection {
  font-size: 16px !IMPORTANT;
  font-weight: bold !IMPORTANT;
}

.bwCol {
  border: 1px solid black;
}

.levelHeader {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.kiloToPounds {
  margin-top: 50px;
  margin-left: 40%;
  width: 50px;
}

.converter{
  font-size: 20px;
}

.weightTables{
  margin: 0 auto;
  text-align: center;
}

.tableStyle{
  width: auto;
  margin: 3px;
  display: inline-block;
}

.information{
  margin-top: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.informationPart{
  margin: 0;
  padding: 0;
  margin-left: 15px;
  display: inline-block;
}

h5{
  margin: 0 !IMPORTANT;
  padding: 0 !IMPORTANT;
  float: left;
}

td, tr {
  padding: 0 !IMPORTANT;
  height: 25px !IMPORTANT;
}

tr {
  margin: 0 !IMPORTANT;
}

td {
  text-align: center !IMPORTANT;
  border: 1px solid black !IMPORTANT;
  font-size: 25px !IMPORTANT;
}

th {
  margin: auto !IMPORTANT;
  font-size: 20px !IMPORTANT;
}

thead {
  background-color: #6882ff;
}
